@model IEnumerable<covidlibrary.SerieEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form method="post" enctype="multipart/form-data" asp-controller="Serie" asp-action="UploadFile">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                Latitude
            </th>
            <th>
                Longitude
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recovered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DontUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Province?.DataText
                </td>
                <td>
                    @item.Province?.Latitude
                </td>
                <td>
                    @item.Province?.Longitude
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recovered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DontUpdate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
